<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<div class="text-section row pd-10 sm">
    <h1 class="display-3 lead">Bem vindo ao site da Explosão!</h1>
    <p>Somos o site com o proposito de ter o preço mais justos do brazil, pegamos a nossa mercadoria sem impostos assim você pode ver como nosso preço é diferente da concorrencia! </p>
      </div>